@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ginasios S.Caçador</h1>
    <p class="lead">O ginasio perfeito para perder peso de forma segura e monitorisada</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Começar</h2>
        <p>
            Este ginasio vai lhe propor um redimento maior na sua atividade fisica. Temos profeissionais muito bem informados e de confiança
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Como melhorar</h2>
        <p>Temos varios pacotes promocionais que podem ajudar no seu desenvolvimento tanto profissional como para pessoas que querem simplesmente emgrecer</p>
       
    </div>
   
</div>